---
const { movie } = Astro.props;
const releaseYear = movie.release_date?.split("-")[0] || "Sin fecha";
const rating = movie.vote_average ? movie.vote_average.toFixed(1) : "N/A";
---


<style>
    .card {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #1a1a1a;
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
    color: white;

    transition: transform 0.2s ease, box-shadow 0.2s ease;
    }

    .card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}
  

 .poster {
  width: 100%;
  aspect-ratio: 2 / 3;
  object-fit: cover;
  display: block;
  background: #222;
  transition: transform 0.3s ease;
}

.card:hover .poster {
  transform: scale(1.05);
}

  .info {
    padding: 12px;
  }

  .title {
  margin: 0 0 8px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

  .meta {
    margin: 0;
    font-size: 13px;
    color: #bdbdbd;
    line-height: 1.4;
  }
</style>

<a
  class="card"
  href={`/movie/${movie.id}`}
  data-title={movie.title.toLowerCase()}
>
  <img
    class="poster"
    src={`https://image.tmdb.org/t/p/w500${movie.poster_path}`}
    alt={movie.title}
    loading="lazy"
  />

  <div class="info">
    <p class="title">{movie.title}</p>
    <p class="meta">⭐ {rating}/10 · {releaseYear}</p>
  </div>
</a>